<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords"
        content="photo, Poland, Warszawa, lovestory, personal, model, photosession, good, quality, sesja, fotki, fotograf, photographer, ślub, wedding" />
    <meta name="description" content="My name is Pavel. I am photographer and i save your memories ;)" />
    <meta property="og:url" content="http://photolozovikov.pl" />
    <meta property="og:title" content="Welcome to my web - page" />
    <meta property="og:image" content="img/meta/meta_info.jpg" />
    <meta property="og:site_name" content="photo.lozovikov" />
    <meta property="og:description" content="My name is Pavel. I am photographer and i save your memories ;)" />
    <meta property="og:type" content="photo"/>
    <title>photo.lozovikov</title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/icon.png">

    //= google/analytics.html

    //= google/tag_manager_1.html
</head>