<div class="slideshow-item owl-carousel">
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/1-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/1-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/1-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/1.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/1.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Ewa">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/2-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/2-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/2-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/2.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/2.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Nikita and Nastya">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/3-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/3-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/3-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/3.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/3.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Anya">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/4-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/4-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/4-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/4.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/4.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Olek and Monika">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/5-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/5-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/5-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/5.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/5.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Anya">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/6-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/6-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/6-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/6.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/6.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Dima">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/7-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/7-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/7-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/7.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/7.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Nastya">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/8-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/8-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/8-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/8.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/8.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Gautham">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/9-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/9-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/9-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/9.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/9.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Nadya">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/10-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/10-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/10-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/10.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/10.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Bohdan">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/11-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/11-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/11-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/11.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/11.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Zhenya and Julia">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/12-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/12-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/12-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/12.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/12.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Julia">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/13-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/13-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/13-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/13.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/13.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Ewa">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/14-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/14-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/14-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/14.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/14.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Nikita">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/15-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/15-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/15-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/15.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/15.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Dima and Polina">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/16-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/16-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/16-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/16.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/16.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Nastya">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/17-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/17-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/17-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/17.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/17.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Dima">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/18-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/18-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/18-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/18.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/18.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Nastya">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/19-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/19-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/19-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/19.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/19.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Anton">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/20-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/20-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/20-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/20.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/20.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Katya and Denis">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/21-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/21-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/21-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/21.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/21.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Aleksandr">
        </picture>
    </div>
    <div class="item">
        <picture>
            <!-- mobile -->
            <source media="(max-width: 479px)" class="bg-pic" data-src="img/index/phone/22-phone.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 767px)" class="bg-pic" data-src="img/index/22-700px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <source media="(max-width: 991px)" class="bg-pic" data-src="img/index/22-900px.jpg"
                style="height: 100%; object-fit: cover;" srcset="">
            <!-- desktop -->
            <source media="(min-width: 992px)" class="bg-pic" data-src="img/index/22.webp"
                style="height: 100%; object-fit: cover;" srcset="" type="image/webp">
            <!-- default -->
            <img class="bg-pic" data-src="img/index/22.jpg" style="height: 100%; object-fit: cover;" src=""
                alt="Olek and Monika">
        </picture>
    </div>
</div>