<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0078-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0078-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0141-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0141-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0158-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0158-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0281-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0281-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0294-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0294-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0448-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0448-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0470-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0470-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9487-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9487-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9512-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9512-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9563-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9563-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9587-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9587-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9626-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9626-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9665-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9665-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9752-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9752-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9827-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9827-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9858-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9858-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9901-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9901-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9908-orig.jpeg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9908-orig.jpeg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!-- gallery Item-->
    <div class="horizontal_item">
        <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9927-orig.jpeg" class="intense" alt="Dima and Polya"><i
                class="fa fa-expand"></i></div>
        <img src="img/portfolio/DimaPolya/content/_MG_9927-orig.jpeg" alt="Dima and Polya">
        <!-- <div class="show-info">
            <span>Info</span>
            <div class="tooltip-info">
                <h5>Nulla blandit</h5>
                <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                    non nisi viverra </p>
            </div>
        </div> -->
    </div>
    <!-- gallery item end-->
</div>
<!-- gallery Item-->
<div class="horizontal_item">
    <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9976-orig.jpeg" class="intense" alt="Dima and Polya"><i
            class="fa fa-expand"></i></div>
    <img src="img/portfolio/DimaPolya/content/_MG_9976-orig.jpeg" alt="Dima and Polya">
    <!-- <div class="show-info">
        <span>Info</span>
        <div class="tooltip-info">
            <h5>Nulla blandit</h5>
            <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                non nisi viverra </p>
        </div>
    </div> -->
</div>
<!-- gallery item end-->
</div>
<!--  navigation -->
<div class="customNavigation">
    <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
    <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
</div>
<!--  navigation end-->
</div>
<!-- portfolio  img  end-->