<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_2049-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_2049-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_2107-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_2107-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_3111-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_3111-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6347-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6347-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6412-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6412-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6675-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6675-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6756-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6756-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6971-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6971-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_7051-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_7051-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_7104-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_7104-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_7800-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_7800-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9329-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9329-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9332-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9332-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9349-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9349-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9353-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9353-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9364-orig.jpeg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9364-orig.jpeg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->