<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Solyanik/content/IMG_0065.jpg" class="intense"
                    alt="Aleksandr Solyanik"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Solyanik/content/IMG_0065.jpg" alt="Aleksandr Solyanik">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Solyanik/content/IMG_0023.jpg" class="intense"
                    alt="Aleksandr Solyanik"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Solyanik/content/IMG_0023.jpg" alt="Aleksandr Solyanik">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Solyanik/content/IMG_0028.jpg" class="intense"
                    alt="Aleksandr Solyanik"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Solyanik/content/IMG_0028.jpg" alt="Aleksandr Solyanik">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Solyanik/content/IMG_0041.jpg" class="intense"
                    alt="Aleksandr Solyanik"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Solyanik/content/IMG_0041.jpg" alt="Aleksandr Solyanik">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <!-- <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Solyanik/content/IMG_2239.jpg" class="intense"
                    alt="Aleksandr Solyanik"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Solyanik/content/IMG_2239.jpg" alt="Aleksandr Solyanik">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div>
        </div> -->
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Solyanik/content/IMG_9751.jpg" class="intense"
                    alt="Aleksandr Solyanik"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Solyanik/content/IMG_9751.jpg" alt="Aleksandr Solyanik">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Solyanik/content/IMG_9808.jpg" class="intense"
                    alt="Aleksandr Solyanik"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Solyanik/content/IMG_9808.jpg" alt="Aleksandr Solyanik">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Solyanik/content/IMG_9955.jpg" class="intense"
                    alt="Aleksandr Solyanik"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Solyanik/content/IMG_9955.jpg" alt="Aleksandr Solyanik">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->