<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2154.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2154.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2488.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2488.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2285.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2285.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2091.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2091.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2072.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2072.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2407.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2407.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2725.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2725.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2813.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2813.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2819.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2819.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_2760.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_2760.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_7081.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_7081.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NikitaNastya/content/_MG_7223.jpg" class="intense"
                    alt="Nikita and Nastya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NikitaNastya/content/_MG_7223.jpg" alt="Nikita and Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->