<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JuliaDmyterchuk/content/_MG_6730-orig.jpeg" class="intense"
                    alt="Julia Dmyterchuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JuliaDmyterchuk/content/_MG_6730-orig.jpeg" alt="Julia Dmyterchuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JuliaDmyterchuk/content/_MG_6592-orig.jpeg" class="intense"
                    alt="Julia Dmyterchuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JuliaDmyterchuk/content/_MG_6592-orig.jpeg" alt="Julia Dmyterchuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JuliaDmyterchuk/content/_MG_6472-orig.jpeg" class="intense"
                    alt="Julia Dmyterchuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JuliaDmyterchuk/content/_MG_6472-orig.jpeg" alt="Julia Dmyterchuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JuliaDmyterchuk/content/_MG_6565-orig.jpeg" class="intense"
                    alt="Julia Dmyterchuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JuliaDmyterchuk/content/_MG_6565-orig.jpeg" alt="Julia Dmyterchuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JuliaDmyterchuk/content/_MG_6130-orig.jpeg" class="intense"
                    alt="Julia Dmyterchuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JuliaDmyterchuk/content/_MG_6130-orig.jpeg" alt="Julia Dmyterchuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JuliaDmyterchuk/content/_MG_6069-orig.jpeg" class="intense"
                    alt="Julia Dmyterchuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JuliaDmyterchuk/content/_MG_6069-orig.jpeg" alt="Julia Dmyterchuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JuliaDmyterchuk/content/_MG_6052-orig.jpeg" class="intense"
                    alt="Julia Dmyterchuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JuliaDmyterchuk/content/_MG_6052-orig.jpeg" alt="Julia Dmyterchuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JuliaDmyterchuk/content/_MG_6048-orig.jpeg" class="intense"
                    alt="Julia Dmyterchuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JuliaDmyterchuk/content/_MG_6048-orig.jpeg" alt="Julia Dmyterchuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->