<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_0058-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_0058-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Обычно я выкладываю фото по ходу фотосессии, но эта была сделана ближе к концу. Просто одна из
                        моих лучших работ.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_9114-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_9114-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>На просьбу сделать одно фото на CV в рубашечке я ответил серией из нескольких в стиле фешн.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_9315-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_9315-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>"Давай ты походишь, а я тут рядом с камерой побегаю"</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_9138-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_9138-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>"Давай ты походишь, а я тут рядом с камерой побегаю"</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_9287-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_9287-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Не могу я без портретов :)</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_0056-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_0056-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Эта набережная только недавно открылась, а мы уже делали здесь снимки.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_0116-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_0116-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Как только впервые увидел это место, первая мысль была - сделать именно такое фото. Наконец
                        сделал.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_0108-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_0108-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Место очень людное, так что пришлось подождать, пока не появится такое вот "окошко"</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_0024-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_0024-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Улыбайтесь чаще :)</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_9496-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_9496-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Сразу вспоминаю андерграундные кадры из молодёжных американских фильмов.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_9845-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_9845-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Готхем с первых слов сказал, что хотел бы фото на фоне граффити. Пришлось поискать :)</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_9780-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_9780-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>Небольшой отдых после хорошего пампа.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/GothamSuresh/content/_MG_9730-orig.jpeg" class="intense"
                    alt="Gautham Sauresh"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/GothamSuresh/content/_MG_9730-orig.jpeg" alt="Gautham Sauresh">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Gautham / Summer 2017</h5>
                    <p>На предложение убрать с пола бутылки перед фото, я ответил, что сделаю это быстрее на компьютере
                        :)</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->