<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Nastya/content/_MG_5086-orig.jpeg" class="intense" alt="Nastya"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Nastya/content/_MG_5086-orig.jpeg" alt="Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Nastya/content/_MG_5112-orig.jpeg" class="intense" alt="Nastya"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Nastya/content/_MG_5112-orig.jpeg" alt="Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Nastya/content/_MG_5171-orig.jpeg" class="intense" alt="Nastya"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Nastya/content/_MG_5171-orig.jpeg" alt="Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Nastya/content/_MG_5293-orig.jpeg" class="intense" alt="Nastya"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Nastya/content/_MG_5293-orig.jpeg" alt="Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Nastya/content/IMG_7050-orig.jpeg" class="intense" alt="Nastya"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Nastya/content/IMG_7050-orig.jpeg" alt="Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Nastya/content/IMG_7106-orig.jpeg" class="intense" alt="Nastya"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Nastya/content/IMG_7106-orig.jpeg" alt="Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Nastya/content/IMG_7127-orig.jpeg" class="intense" alt="Nastya"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Nastya/content/IMG_7127-orig.jpeg" alt="Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Nastya/content/IMG_7211-orig.jpeg" class="intense" alt="Nastya"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Nastya/content/IMG_7211-orig.jpeg" alt="Nastya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->