<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
  <div id="gallery_horizontal" class="gallery_horizontal">
    <!-- gallery Item-->
    <div class="horizontal_item">
      <div class="zoomimage">
        <img
          src="img/portfolio/Dasha/content/IMG_8826.jpg"
          class="intense"
          alt="Dasha"
        /><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/Dasha/content/IMG_8826.jpg" alt="Dasha" />
    </div>
    <!-- gallery item end-->
    <!-- gallery Item-->
    <div class="horizontal_item">
      <div class="zoomimage">
        <img
          src="img/portfolio/Dasha/IMG_8844.jpg"
          class="intense"
          alt="Dasha"
        /><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/Dasha/IMG_8844.jpg" alt="Dasha" />
    </div>
    <!-- gallery item end-->
    <!-- gallery Item-->
    <div class="horizontal_item">
      <div class="zoomimage">
        <img
          src="img/portfolio/Dasha/content/IMG_8194.jpg"
          class="intense"
          alt="Dasha"
        /><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/Dasha/content/IMG_8194.jpg" alt="Dasha" />
    </div>
    <!-- gallery item end-->
    <!-- gallery Item-->
    <div class="horizontal_item">
      <div class="zoomimage">
        <img
          src="img/portfolio/Dasha/content/IMG_8229.jpg"
          class="intense"
          alt="Dasha"
        /><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/Dasha/content/IMG_8229.jpg" alt="Dasha" />
    </div>
    <!-- gallery item end-->
    <!-- gallery Item-->
    <div class="horizontal_item">
      <div class="zoomimage">
        <img
          src="img/portfolio/Dasha/content/IMG_8306.jpg"
          class="intense"
          alt="Dasha"
        /><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/Dasha/content/IMG_8306.jpg" alt="Dasha" />
    </div>
    <!-- gallery item end-->
    <!-- gallery Item-->
    <div class="horizontal_item">
      <div class="zoomimage">
        <img
          src="img/portfolio/Dasha/content/IMG_8558%20(deep).jpg"
          class="intense"
          alt="Dasha"
        /><i class="fa fa-expand"></i>
      </div>
      <img
        src="img/portfolio/Dasha/content/IMG_8558%20(deep).jpg"
        alt="Dasha"
      />
    </div>
    <!-- gallery item end-->
    <!-- gallery Item-->
    <div class="horizontal_item">
      <div class="zoomimage">
        <img
          src="img/portfolio/Dasha/content/IMG_8640.jpg"
          class="intense"
          alt="Dasha"
        /><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/Dasha/content/IMG_8640.jpg" alt="Dasha" />
    </div>
    <!-- gallery item end-->
    <!-- gallery Item-->
    <div class="horizontal_item">
      <div class="zoomimage">
        <img
          src="img/portfolio/Dasha/content/IMG_8676.jpg"
          class="intense"
          alt="Dasha"
        /><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/Dasha/content/IMG_8676.jpg" alt="Dasha" />
    </div>
    <!-- gallery item end-->
  </div>
  <!--  navigation -->
  <div class="customNavigation">
    <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
    <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
  </div>
  <!--  navigation end-->
</div>
<!-- portfolio  img  end-->
