<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
  <div id="gallery_horizontal" class="gallery_horizontal">
    <div class="horizontal_item">
      <div class="zoomimage">
        <img src="img/portfolio/JakubKijanski/IMG_7876.jpg" class="intense" alt="Jakub Kijanski"><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/JakubKijanski/IMG_7876.jpg" alt="Jakub Kijanski">
    </div>
    <div class="horizontal_item">
      <div class="zoomimage">
        <img src="img/portfolio/JakubKijanski/content/IMG_7639.jpg" class="intense" alt="Jakub Kijanski"><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/JakubKijanski/content/IMG_7639.jpg" alt="Jakub Kijanski">
    </div>
    <div class="horizontal_item">
      <div class="zoomimage">
        <img src="img/portfolio/JakubKijanski/content/IMG_7650.jpg" class="intense" alt="Jakub Kijanski"><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/JakubKijanski/content/IMG_7650.jpg" alt="Jakub Kijanski">
    </div>
    <div class="horizontal_item">
      <div class="zoomimage">
        <img src="img/portfolio/JakubKijanski/content/IMG_7810.jpg" class="intense" alt="Jakub Kijanski"><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/JakubKijanski/content/IMG_7810.jpg" alt="Jakub Kijanski">
    </div>
    <div class="horizontal_item">
      <div class="zoomimage">
        <img src="img/portfolio/JakubKijanski/content/IMG_7873.jpg" class="intense" alt="Jakub Kijanski"><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/JakubKijanski/content/IMG_7873.jpg" alt="Jakub Kijanski">
    </div>
    <div class="horizontal_item">
      <div class="zoomimage">
        <img src="img/portfolio/JakubKijanski/content/IMG_7947.jpg" class="intense" alt="Jakub Kijanski"><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/JakubKijanski/content/IMG_7947.jpg" alt="Jakub Kijanski">
    </div>
    <div class="horizontal_item">
      <div class="zoomimage">
        <img src="img/portfolio/JakubKijanski/content/IMG_8047.jpg" class="intense" alt="Jakub Kijanski"><i class="fa fa-expand"></i>
      </div>
      <img src="img/portfolio/JakubKijanski/content/IMG_8047.jpg" alt="Jakub Kijanski">
    </div>
  </div>
  <!--  navigation -->
  <div class="customNavigation">
    <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
    <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
  </div>
  <!--  navigation end-->
</div>
<!-- portfolio  img  end-->