<!-- portfolio img -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Basrbershop1994/content/IMG_6502.jpg"
                    class="intense" alt="Barbershop 1994"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Basrbershop1994/content/IMG_6502.jpg" alt="Barbershop 1994">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Basrbershop1994/content/IMG_6538.jpg"
                    class="intense" alt="Barbershop 1994"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Basrbershop1994/content/IMG_6538.jpg" alt="Barbershop 1994">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Basrbershop1994/content/IMG_6568.jpg"
                    class="intense" alt="Barbershop 1994"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Basrbershop1994/content/IMG_6568.jpg" alt="Barbershop 1994">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Basrbershop1994/content/IMG_6662.jpg"
                    class="intense" alt="Barbershop 1994"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Basrbershop1994/content/IMG_6662.jpg" alt="Barbershop 1994">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Basrbershop1994/content/IMG_6687.jpg"
                    class="intense" alt="Barbershop 1994"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Basrbershop1994/content/IMG_6687.jpg" alt="Barbershop 1994">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Basrbershop1994/content/IMG_6799.jpg"
                    class="intense" alt="Barbershop 1994"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Basrbershop1994/content/IMG_6799.jpg" alt="Barbershop 1994">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Basrbershop1994/content/IMG_6836.jpg"
                    class="intense" alt="Barbershop 1994"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Basrbershop1994/content/IMG_6836.jpg" alt="Barbershop 1994">
        </div>
    </div>
</div>