<!-- portfolio img -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1141.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1141.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1148.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1148.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1153.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1153.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1157.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1157.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1159.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1159.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1161.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1161.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1174.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1174.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1188.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1188.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1193.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1193.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1196.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1196.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1197.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1197.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1202.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1202.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1207.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1207.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1209.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1209.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1214.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1214.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1216.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1216.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1217.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1217.jpg" alt="Dziupli Maciek Apartments">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1380.jpg"
                    class="intense" alt="Dziupli Maciek Apartments"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ApartmentsDziupliMaciek/content/IMG_1380.jpg" alt="Dziupli Maciek Apartments">
        </div>
    </div>
</div>
