<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ZhenyaMagda/content/IMG_0353.jpg" class="intense"
                    alt="Zhenya and Magda"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ZhenyaMagda/content/IMG_0353.jpg" alt="Zhenya and Magda">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ZhenyaMagda/content/IMG_0400.jpg" class="intense"
                    alt="Zhenya and Magda"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ZhenyaMagda/content/IMG_0400.jpg" alt="Zhenya and Magda">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ZhenyaMagda/content/IMG_0431.jpg" class="intense"
                    alt="Zhenya and Magda"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ZhenyaMagda/content/IMG_0431.jpg" alt="Zhenya and Magda">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ZhenyaMagda/content/IMG_0466.jpg" class="intense"
                    alt="Zhenya and Magda"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ZhenyaMagda/content/IMG_0466.jpg" alt="Zhenya and Magda">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ZhenyaMagda/content/IMG_0387.jpg" class="intense"
                    alt="Zhenya and Magda"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ZhenyaMagda/content/IMG_0387.jpg" alt="Zhenya and Magda">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ZhenyaMagda/content/IMG_0301.jpg" class="intense"
                    alt="Zhenya and Magda"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ZhenyaMagda/content/IMG_0301.jpg" alt="Zhenya and Magda">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->