<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1125-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1125-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1190-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1190-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1258-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1258-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1356-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1356-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1504-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1504-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1566-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1566-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1571-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1571-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1753-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1753-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1786-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1786-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/KatyaDenis/content/IMG_1804-orig.jpeg" class="intense"
                    alt="Katya and Denis"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/KatyaDenis/content/IMG_1804-orig.jpeg" alt="Katya and Denis">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->