<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_2994-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_2994-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Winter 2016</h5>
                    <p>Фото на старом советском траулере. Охранник вроде был не против.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_3003-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_3003-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Winter 2016</h5>
                    <p>Я стоял на льду и делал снимки, пока Анжелика позировала. Зима была холодной и лёд был толстый,
                        так что было не страшно.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_3004-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_3004-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Winter 2016</h5>
                    <p>Я стоял на льду и делал снимки, пока Анжелика позировала. Зима была холодной и лёд был толстый,
                        так что было не страшно.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_2974-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_2974-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Winter 2016</h5>
                    <p>Фото на Canon 85mm. Для портретов этого фокусного расстояния лучше объектив мне ещё не попадался.
                    </p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_3011-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_3011-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Winter 2016</h5>
                    <p>Насмотрелся Трояновского и пытаюсь тоже иногда делать чуть-чуть размыто :)</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_3017-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_3017-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Winter 2016</h5>
                    <p>Последнее фото с того траулера.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/dym2-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/dym2-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>О да, первый раз в жизни реализовал задумку с дымом. Я доволен. Мы довольны.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/dym-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/dym-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>Дымовые шашки пришлось очень долго разжигать, т.к. они успели отсыреть.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/maska-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/maska-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>Дым уже рассеялся, но мы продолжали.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/hair-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/hair-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>Завершающий кадр с того дня. Мы перешли на нвоое место и решили добавить немного движения в нашу
                        съёмку. В итоге - кадр, которым я очень доволен по сей день.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/road-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/road-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>Только появилось новое освещение над тротуарами, мы тут же этим воспользовались.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/road2-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/road2-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>Фотосессия на переходе? Легко.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_4543-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_4543-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>В тот период решил попробовать немного киношности в обработке.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_4595-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_4595-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>Фотограф не имеет морального права не обращать внимания на свет ;)</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_4589-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_4589-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>Пародия на а-ля мегаполис вывески в каком-нибудь Нью-Йорке. Главное - правильно подать ;)</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Angelika/content/_MG_4766-orig.jpeg" class="intense"
                    alt="Angelika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Angelika/content/_MG_4766-orig.jpeg" alt="Angelika">
            <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Angelika / Summer 2017</h5>
                    <p>Было поздно, мы устали но не останавливались и продолжали делать кадры.</p>
                </div>
            </div>
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->