<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
        <div id="gallery_horizontal" class="gallery_horizontal">
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_5994.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_5994.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6011.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6011.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6092.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6092.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6126.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6126.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6152.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6152.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6265.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6265.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6288.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6288.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6306.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6306.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6353.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6353.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6369.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6369.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6463.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6463.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak2/content/IMG_6465.jpg"
                                        class="intense" alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/DamianOlejniczak2/content/IMG_6465.jpg" alt="Damian Olejniczak">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
        </div>
        <!--  navigation -->
        <div class="customNavigation">
                <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
        </div>
        <!--  navigation end-->
</div>
<!-- portfolio  img  end-->