<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5343.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5343.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5439.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5439.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5480.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5480.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5501.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5501.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5507.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5507.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5547.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5547.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5608.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5608.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5621.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5621.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5634.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5634.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5720.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5720.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_5844.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_5844.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DamianOlejniczak/content/_MG_6023.jpg" class="intense"
                    alt="Damian Olejniczak"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DamianOlejniczak/content/_MG_6023.jpg" alt="Damian Olejniczak">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->