<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8333-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8333-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8595-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8595-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8438-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8438-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8087-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8087-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8235-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8235-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8205-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8205-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8304-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8304-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8387-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8387-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8395-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8395-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8461-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8461-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8660-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8660-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/OlekMonika/content/IMG_8154-orig.jpeg" class="intense"
                    alt="Olek and Monika"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/OlekMonika/content/IMG_8154-orig.jpeg" alt="Olek and Monika">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->