<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1405-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1405-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1427-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1427-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1483-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1483-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1508-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1508-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1516-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1516-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1536-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1536-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1566-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1566-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1727-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1727-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1755-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1755-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1795-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1795-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_1855-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_1855-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Lena/content/_MG_16944-orig.jpeg" class="intense" alt="Lena"><i
                    class="fa fa-expand"></i></div>
            <img src="img/portfolio/Lena/content/_MG_16944-orig.jpeg" alt="Lena">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->