<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_2049.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_2049.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_2107.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_2107.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_3111.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_3111.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6347.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6347.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6412.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6412.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6675.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6675.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6756.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6756.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_6971.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_6971.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_7051.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_7051.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/_MG_7104.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/_MG_7104.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_7800.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_7800.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9329.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9329.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9332.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9332.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9349.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9349.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9353.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9353.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Kravchenko/content/IMG_9364.jpg" class="intense"
                    alt="Dima Kravchenko"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Kravchenko/content/IMG_9364.jpg" alt="Dima Kravchenko">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->