<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8754.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8754.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8911.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8911.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8652.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8652.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8336.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8336.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8311.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8311.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8487.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8487.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8519.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8519.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8577.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8577.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8615.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8615.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8791.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8791.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8830.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8830.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8844.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8844.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8856.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8856.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_8993.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_8993.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/NastyaLogvina/content/_MG_9082.jpg" class="intense"
                    alt="Nastya Logvina"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/NastyaLogvina/content/_MG_9082.jpg" alt="Nastya Logvina">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->