<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3487.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3487.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_2801.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_2801.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3076.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3076.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3156.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3156.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3177.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3177.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3469.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3469.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_4015.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_4015.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3551.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3551.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3734.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3734.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3828.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3828.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_3859.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_3859.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/Ewa/content/IMG_4115.webp" class="intense"
                    alt="Ewa Golonka"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/Ewa/content/IMG_4115.webp" alt="Ewa Golonka">
            <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->