<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_3165.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_3165.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_3150.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_3150.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_3100.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_3100.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_3089.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_3089.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_3070.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_3070.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_3055.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_3055.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_3193.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_3193.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_2985.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_2985.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_2975.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_2975.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_2956.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_2956.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/AntonBlyzniuk/content/_MG_2920.jpg" class="intense"
                    alt="Anton Blyzniuk"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/AntonBlyzniuk/content/_MG_2920.jpg" alt="Anton Blyzniuk">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!--  navigation -->
    <div class="customNavigation">
        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
    </div>
    <!--  navigation end-->
</div>
<!-- portfolio  img  end-->