<!-- portfolio img -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0047.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0047.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0052.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0052.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0059.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0059.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0062.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0062.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0117.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0117.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0122.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0122.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0212.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0212.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0265.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0265.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0359.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0359.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0686.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0686.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0766.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0766.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0815.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0815.jpg" alt="Scream Incorporated concert">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/ScreamIncorporated/content/IMG_0859.jpg"
                    class="intense" alt="Scream Incorporated concert"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/ScreamIncorporated/content/IMG_0859.jpg" alt="Scream Incorporated concert">
        </div>
    </div>
</div>