<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0078.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0078.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0141.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0141.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0158.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0158.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0281.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0281.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0294.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0294.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0448.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0448.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_0470.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_0470.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9487.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9487.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9512.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9512.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9563.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9563.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9587.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9587.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9626.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9626.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9665.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9665.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9752.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9752.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9827.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9827.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9858.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9858.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9901.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9901.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
        <!-- gallery Item-->
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9908.jpg" class="intense"
                    alt="Dima and Polya"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/DimaPolya/content/_MG_9908.jpg" alt="Dima and Polya">
            <!-- <div class="show-info">
                <span>Info</span>
                <div class="tooltip-info">
                    <h5>Nulla blandit</h5>
                    <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                        non nisi viverra </p>
                </div>
            </div> -->
        </div>
        <!-- gallery item end-->
    </div>
    <!-- gallery Item-->
    <div class="horizontal_item">
        <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9927.jpg" class="intense" alt="Dima and Polya"><i
                class="fa fa-expand"></i></div>
        <img src="img/portfolio/DimaPolya/content/_MG_9927.jpg" alt="Dima and Polya">
        <!-- <div class="show-info">
            <span>Info</span>
            <div class="tooltip-info">
                <h5>Nulla blandit</h5>
                <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                    non nisi viverra </p>
            </div>
        </div> -->
    </div>
    <!-- gallery item end-->
</div>
<!-- gallery Item-->
<div class="horizontal_item">
    <div class="zoomimage"><img src="img/portfolio/DimaPolya/content/_MG_9976.jpg" class="intense" alt="Dima and Polya"><i
            class="fa fa-expand"></i></div>
    <img src="img/portfolio/DimaPolya/content/_MG_9976.jpg" alt="Dima and Polya">
    <!-- <div class="show-info">
        <span>Info</span>
        <div class="tooltip-info">
            <h5>Nulla blandit</h5>
            <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                non nisi viverra </p>
        </div>
    </div> -->
</div>
<!-- gallery item end-->
</div>
<!--  navigation -->
<div class="customNavigation">
    <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
    <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
</div>
<!--  navigation end-->
</div>
<!-- portfolio  img  end-->