<!-- portfolio img -->
<div class="resize-carousel-holder anim-holder">
    <div id="gallery_horizontal" class="gallery_horizontal">
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JustGood/content/IMG_8933-bw.jpg"
                    class="intense" alt="Just Good"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JustGood/content/IMG_8933-bw.jpg" alt="Just Good">
        </div>
        <div class="horizontal_item">
            <div class="zoomimage"><img src="img/portfolio/JustGood/content/IMG_2920.jpg"
                    class="intense" alt="Just Good"><i class="fa fa-expand"></i></div>
            <img src="img/portfolio/JustGood/content/IMG_2920.jpg" alt="Just Good">
        </div>
    </div>
</div>