<!-- portfolio  img  -->
<div class="resize-carousel-holder anim-holder">
        <div id="gallery_horizontal" class="gallery_horizontal">
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_6787.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_6787.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_6805.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_6805.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_6939.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_6939.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_7086.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_7086.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_7094.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_7094.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_7108.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_7108.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_7114.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_7114.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_7123.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_7123.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_7163.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_7163.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_7182.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_7182.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!-- gallery Item-->
                <div class="horizontal_item">
                        <div class="zoomimage"><img src="img/portfolio/InnaShalabaieva/content/IMG_7200.webp"
                                        class="intense" alt="Inna Shalabaieva"><i class="fa fa-expand"></i></div>
                        <img src="img/portfolio/InnaShalabaieva/content/IMG_7200.webp" alt="Inna Shalabaieva">
                        <!-- <div class="show-info">
                    <span>Info</span>
                    <div class="tooltip-info">
                        <h5>Nulla blandit</h5>
                        <p>Aat posuere sem accumsan nec. Sed non arcu non sem commodo ultricies. Sed
                            non nisi viverra </p>
                    </div>
                </div> -->
                </div>
                <!-- gallery item end-->
                <!--  navigation -->
                <div class="customNavigation">
                        <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                        <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                </div>
                <!--  navigation end-->
        </div>
        <!-- portfolio  img  end-->